*{
    margin: 0;
    padding: 0;
}
body{
    background: url(https://images8.alphacoders.com/136/thumb-1920-1363709.png) no-repeat;
}
.clock{
    height:10vh;
    width:50vw;

    position : relative;
    top : 30vh;
    left: 25vw;

   text-align: center;
   color:white;
   font-size: 7vw;
   font-weight: bold;
}

@media only screen and (max-width : 575px){
    .clock{
        top : 40vh;
        font-size: 10vw;
    }
}